<!doctype html>
<html>
    <head>
        <div class="header">
            {% if user.is_authenticated %}
            <p>Здраствуй:{{user.username}}</p>
            <form action="{% url 'registration:Logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
            {%else %}
            <form action="{% url 'registration:Login' %}" method="get">
                {% csrf_token %}
                <button type="submit">Войти</button>
            </form>
            <form action="{% url 'registration:Registration' %}" method="get">
                {% csrf_token %}
                <button type="submit">Зарегестрироваться</button>
            </form>
            {% endif %}
        </div>
    </head>
    <body>
        {% block content%}{% endblock %}
    </body>
</html>
