{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <title>Мой сайт</title>
    </head>
    <body>
        <header class="header">
            {% if user.is_authenticated %}
            <div class="list">
                <ul>
                    {% if user.isHR %}
                    <li>
                        <form
                            action="{% url 'main:hrAccountPage' %}"
                            method="get"
                        >
                            <button type="submit">Личный кабинет</button>
                        </form>
                    </li>
                    {% else %}
                    <li>
                        <form
                            action="{% url 'main:workerAccountPage' %}"
                            method="get">
                            <button type="submit">Личный кабинет</button>
                        </form>
                    </li>
                    {% endif %}
                    <li>
                        <form
                            action="{% url 'vacancyAndCv:listVacancy' %}"
                            method="get"
                        >
                            <button type="submit">Список всех вакансий</button>
                        </form>
                    </li>
                    <li>
                        <form
                            action="{% url 'registration:Logout' %}"
                            method="post"
                        >
                            {% csrf_token %}
                            <button type="submit">Выход</button>
                        </form>
                    </li>
                    <li class="push-right">
                        <p class="butVTB">{{user.username}}</p>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="list">
                <ul>
                    <li>
                        <form
                            action="{% url 'registration:Login' %}"
                            method="get"
                        >
                            <button type="submit">Вход</button>
                        </form>
                    </li>
                    <li>
                        <form
                            action="{% url 'registration:Registration' %}"
                            method="get"
                        >
                            <button type="submit">Регистрация</button>
                        </form>
                    </li>
                </ul>
            </div>
            {% endif %}
        </header>
        <main>
            <div class="container">{% block content %}{% endblock %}</div>
        </main>
    </body>
</html>
