{% extends 'base.html' %} {% block content %}
{% load markdownExtras %}
<div class="content">
    <div class="container">
        {% if user.isHR %}
            <div class="card">
                <h3>Мои данные:</h3>
                <p>ФИО: <span>{{ user.username}}</span></p>
                <p>Номер: <span>{{ user.phone }}</span></p>
                <p>e-mail: <span>{{ user.email }}</span></p>
            </div>
        {% else %}
        <p>Вы не hr</p>
        {% endif %}
        {% load markdownExtras %}
        <div class="card" >
            <h3>Мои вакансии:</h3>
            <div style="ga: 5px;">
            <form action="{% url 'vacancyAndCv:Vacancy' %}" method="get">
                <button type="submit">
                    Написать вакансию
                </button>
            </form>
            <form action="{% url 'vacancyAndCv:addVacancyPDF' %}" method="get">
                {% csrf_token %}
                <button type="submit">
                    Загрузить из pdf
                </button>
            </form>
            </div>
            {% if vacancies %} 
            {% for vacancy in vacancies %}
                <div class="card Vacanycard">
                    <a href="{{ vacancy.get_absolute_url }}">{{ vacancy.title|latticeCleaner}}</a>
                    {% if vacancy.is_published %}
                    <span class="published">Опубликовано</span>
                    {% else %}
                    <span class="draft">Черновик</span>
                    {% endif %}
                    <span>Создано: {{ vacancy.time_create|date:"d.m.Y" }}</span>
                    <span>Обновлено: {{ vacancy.time_update|date:"d.m.Y" }}</span>
                    <span>Откликов: {{ vacancy.sendCV.count }}</span>
                    <a href="{{ vacancy.get_absolute_url }}">Просмотр</a>
                    <form method="post" action="{% url 'vacancyAndCv:toggleVacancyPublish' vacancy.slug %}">
                    </form>
                </div>
            {% endfor %} 
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}