anyio==4.13.0
asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.3
flatbuffers==25.12.19
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
Markdown==3.10.2
networkx==3.6.1
numpy==2.4.4
onnxruntime==1.26.0
packaging==26.2
protobuf==7.34.1
psycopg==3.3.4
PyMuPDF==1.27.2.3
pymupdf-layout==1.27.2.3
pymupdf4llm==1.27.2.3
PySocks==1.7.1
PyYAML==6.0.3
requests==2.33.1
sqlparse==0.5.5
tabulate==0.10.0
urllib3==2.6.3
gunicorn==23.0.0
whitenoise==6.7.0
gevent==24.2.1